
  .loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .loadinglogo{
    width: 48px;
    height: 48px;
  }
  
  .loading-bar{
    width: 130px;
    height: 2px;
    background: var(--code-bg-color);
    margin-top: 22px;
    position: relative;
    overflow: hidden;
  }
  
  .loading-bar::before{
    content: "";
    width: 68px;
    height: 2px;
    background: var(--accent-color);
    position: absolute;
    left: -34px;
    animation: bluebar 1.5s infinite ease;
  }
  
  @keyframes bluebar {
    50%{
      left: 96px;
    }
  }